.container {
    padding: 20px;
}

.form-box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    grid-column: span 3;
    padding: 10px;
    background: #1e3c72;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}